<%# Search category %>
<div class="mr-5 mb-5">
  <div class="mb-3">
    <span class="h5"><%= t('.search_category.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_category.tooltip') %>"></i>
  </div>

  <div class="container">
    <div class="row mb-1">
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-friends" value="friends" data-label="<%= t('.search_category.friends') %>" checked>
        <label class="form-check-label" for="category-friends" style="white-space: nowrap;"><%= t('.search_category.friends') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-followers" value="followers" data-label="<%= t('.search_category.followers') %>">
        <label class="form-check-label" for="category-followers" style="white-space: nowrap;"><%= t('.search_category.followers') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_friends" value="one_sided_friends" data-label="<%= t('.search_category.one_sided_friends') %>">
        <label class="form-check-label" for="category-one_sided_friends" style="white-space: nowrap;"><%= t('.search_category.one_sided_friends') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_followers" value="one_sided_followers" data-label="<%= t('.search_category.one_sided_followers') %>">
        <label class="form-check-label" for="category-one_sided_followers" style="white-space: nowrap;"><%= t('.search_category.one_sided_followers') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check">
        <input class="form-check-input" type="radio" name="category" id="category-mutual_friends" value="mutual_friends" data-label="<%= t('.search_category.mutual_friends') %>">
        <label class="form-check-label" for="category-mutual_friends" style="white-space: nowrap;"><%= t('.search_category.mutual_friends') %></label>
      </div>
    </div>
  </div>
</div>

<%# Search type %>
<div class="mb-5">
  <div class="mb-3">
    <span class="h5"><%= t('.search_type.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_type.tooltip') %>"></i>
  </div>

  <div class="container">
    <div class="row mb-1">
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-job" value="job" data-label="<%= t('.search_type.job') %>" checked>
        <label class="form-check-label" for="type-job"><%= t('.search_type.job') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-location" value="location" data-label="<%= t('.search_type.location') %>">
        <label class="form-check-label" for="type-location"><%= t('.search_type.location') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-url" value="url" data-label="<%= t('.search_type.url') %>">
        <label class="form-check-label" for="type-url"><%= t('.search_type.url') %></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-keyword" value="keyword" data-label="<%= t('.search_type.keyword') %>">
        <label class="form-check-label" for="type-keyword"><%= t('.search_type.keyword') %></label>
      </div>
    </div>
  </div>
</div>

<%# Search label %>
<div class="mb-5">
  <div class="mb-3">
    <span class="h5"><%= t('.search_label.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_label.tooltip') %>"></i>
  </div>
  <input type="text" id="search-label" class="form-control" list="search-label-options" data-placeholder="<%= t('.search_label.placeholder') %>" style="min-width: 200px; max-width: 300px;">
  <datalist id="search-label-options">
  </datalist>
</div>

<div class="mb-5">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="show-details-check">
    <label class="form-check-label" for="show-details-check"><%= t('.show_details.title') %></label>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.show_details.tooltip') %>"></i>
  </div>
</div>

<%# Submit %>
<div class="mb-5">
  <button id="job-submit" type="submit" class="btn btn-primary"><%= t('.search_label.submit') %></button>
</div>

<div class="mb-5">
  <hr>
</div>

<div class="pb-5" style="min-height: 300px;">
  <p class="search-response-title lead mb-5" style="display: none;">
    <%= t('.search_response.html', user: current_user.screen_name) %>
  </p>

  <div id="search-response"></div>
</div>


<script>
  $(function () {
    var labelSelector = $('#search-label');
    var lastUid;
    var currentIndexNumber;
    var i18n = {
      specify_correct_label: '<%= t('.js.specify_correct_label') %>',
      no_results_found: '<%= t('.js.no_results_found_html', app: t('app_name')) %>'
    };

    function resetSearchState(reason) {
      console.log('Reset search state:', reason);
      $('.search-response-title').hide();
      $('#search-response').empty();
      labelSelector.removeClass('is-invalid').removeClass('is-valid');
      lastUid = null;
      currentIndexNumber = 1;
    }

    function switchCategoryButton() {
      resetSearchState('switch category');
      labelSelector.val('');
    }

    function switchTypeButton() {
      resetSearchState('switch type');
      labelSelector.val('');
    }

    function switchLabelSelector() {
      resetSearchState('switch label');
    }

    function setPlaceholder() {
      var value = labelSelector.data('placeholder').replace('{value}', currentTypeLabel());
      labelSelector.attr('placeholder', value);
    }

    $("input[name='category']").on('change', switchCategoryButton);
    $("input[name='type']").on('change', switchTypeButton);
    labelSelector.on('change', switchLabelSelector);

    function currentCategory() {
      return $("input[name='category']:checked").val();
    }

    function currentCategoryLabel() {
      return $("input[name='category']:checked").data('label');
    }

    function currentType() {
      return $("input[name='type']:checked").val();
    }

    function currentTypeLabel() {
      return $("input[name='type']:checked").data('label');
    }

    function currentLabel() {
      return labelSelector.val();
    }

    $('#show-details-check').on('change', function () {
      if ($(this).prop('checked')) {
        $('#search-response').find('.search-response-user-details').show();
      } else {
        $('#search-response').find('.search-response-user-details').hide();
      }
    });

    function appendSearchResponse(users) {
      if (!users || users.length === 0) {
        if (lastUid) {
          // Do nothing
        } else {
          resetSearchState('no results found');
          $('#search-response').empty().html(i18n['no_results_found']).hide().fadeIn(500);
        }
      } else {
        var container = $('<div/>', {style: 'display: none;'});
        var template = $('#search-response-user-template').html();

        users.forEach(function (user) {
          if (user.description) {
            user.description = user.description.replace('\n', '<br>').replace(/https?:\/\//g, '');
            user.description = linkifyHtml(user.description, {defaultProtocol: 'https'});
          }
          user.index_number = currentIndexNumber++;
          var rendered = $(Mustache.render(template, user));
          rendered.find('img').each(function () {
            var img = $(this);
            img.attr('src', img.attr('data-src'));
          });
          container.append(rendered);
        })
        if (!$('#show-details-check').prop('checked')) {
          container.find('.search-response-user-details').hide();
        }
        $('#search-response').append(container)
        container.fadeIn(500);
        $('#search-response').append($('<div/>', {text: 'Loading'}).lazyload().one('appear', function () {
          var elem = $(this);
          search(function () {
            elem.remove();
          });
        }));

        lastUid = users[users.length - 1].uid;
      }
    }

    function search(callback) {
      var category = currentCategory();
      var type = currentType();
      var label = currentLabel();
      var limit = 10;

      if (category !== 'friends' && category !== 'followers' && category !== 'one_sided_friends' && category !== 'one_sided_followers' && category !== 'mutual_friends') {
        console.warn('Invalid category', category);
        resetSearchState('Invalid category');
        $('#search-response').empty().text('Please specify correct [category]').hide().fadeIn(500);
        return
      }

      if (type !== 'job' && type !== 'location' && type !== 'url' && type !== 'keyword') {
        console.warn('Invalid type', type);
        resetSearchState('Invalid type');
        $('#search-response').empty().text('Please specify correct [type]').hide().fadeIn(500);
        return
      }

      if (!label || label.length === 0) {
        console.warn('Invalid label', label);
        resetSearchState('Invalid label');
        $('#search-response').empty().text(i18n['specify_correct_label']).hide().fadeIn(500);
        labelSelector.addClass('is-invalid');
        return
      }

      $('.search-response-title').show()
        .find('.category').text(currentCategoryLabel()).end()
        .find('.type').text(currentTypeLabel()).end()
        .find('.label').text(label);

      var url = '<%= raw api_searches_path %>';
      var params = {category: category, type: type, label: label, limit: limit, last_uid: lastUid}
      console.log('request', params);

      $.get(url, params).done(function (res) {
        console.log('response', res);
        appendSearchResponse(res.users);
        if (callback) {
          callback();
        }
      });
    }

    function updateSearchLabelOptions() {
      var category = currentCategory();
      var type = currentType();

      if (category === 'friends') {
        if (type === 'job') {
          setJobOptions();
        } else if (type === 'location') {
          setLocationOptions();
        } else if (type === 'url') {
          setUrlOptions();
        } else if (type === 'keyword') {
          setKeywordOptions();
        }
      } else if (category === 'followers') {
        if (type === 'job') {
          setJobOptions();
        } else if (type === 'location') {
          setLocationOptions();
        } else if (type === 'url') {
          setUrlOptions();
        } else if (type === 'keyword') {
          setKeywordOptions();
        }
      }
    }

    $("input[name='category']").on('click', updateSearchLabelOptions);
    $("input[name='type']").on('click', updateSearchLabelOptions);

    $('#job-submit').on('click', function () {
      search();
      return false;
    });

    function setOptions(options) {
      $('#search-label-options').empty();
      options.forEach(function (option) {
        var tag = $('<option/>', {value: option.value, text: option.label});
        $('#search-label-options').append(tag);
      });

      setPlaceholder();
      labelSelector.addClass('is-valid');
      setTimeout(function () {
        labelSelector.removeClass('is-valid');
      }, 1000)
    }

    function setJobOptions() {
      var url = '<%= raw api_job_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setLocationOptions() {
      var url = '<%= raw api_location_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setUrlOptions() {
      var url = '<%= raw api_url_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setKeywordOptions() {
      var url = '<%= raw api_keyword_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    setJobOptions();

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
