<% user_decorator = current_user.to_user_decorator(self) %>

<%# Search user %>
<div class="mb-5">
  <div class="mb-3">
    <span class="h5" data-toggle="underline" data-target="#search-user-underline"><%= t('.search_user.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_user.tooltip') %>"></i>
    <div id="search-user-underline" class="underline"></div>
  </div>
  <div class="limit-reached-help small mb-3" style="display: none;"><%= t('.search_user.limit_reached_help_html', count: user_decorator.users_limit) %></div>
  <% if current_user.has_subscription? %>
    <input type="text" id="search-user" class="form-control mb-2" list="search-user-options"
           value="<%= current_user.screen_name %>"
           placeholder="<%= t('.search_user.placeholder') %>"
           style="min-width: 200px; max-width: 300px;">
    <datalist id="search-user-options">
    </datalist>
    <div id="quick-select-user">
      <span><%= t('.search_user.quick_select') %></span>
      <a class="badge badge-primary mr-1" href="#"></a>
      <a class="badge badge-primary mr-1" href="#"></a>
      <a class="badge badge-primary" href="#"></a>
    </div>
  <% else %>
    <div style="position: relative;">
      <input type="text" class="form-control mb-2 disabled" value="<%= current_user.screen_name %>" disabled style="min-width: 200px; max-width: 300px;">
      <div id="disabled-search-user" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
    </div>
    <div class="text-info small mt-1"><%= t('.search_user.free_help') %></div>
    <input type="hidden" id="search-user" value="<%= current_user.screen_name %>">
    <script>
      $('#disabled-search-user').on('click', function () {
        alert('<%= t('.disabled_search_user.alert') %>')
      });
    </script>
  <% end %>
</div>

<%# Search category %>
<a id="search-category-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mr-5 mb-5">
  <div class="mb-3">
    <span class="h5" data-toggle="underline" data-target="#search-category-underline"><%= t('.search_category.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_category.tooltip') %>"></i>
    <div id="search-category-underline" class="underline"></div>
  </div>

  <div class="container">
    <div class="row mb-1">
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-friends" value="friends" data-label="<%= t('.search_category.friends') %>" checked>
        <label class="form-check-label" for="category-friends" style="white-space: nowrap;"><%= t('.search_category.friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-followers" value="followers" data-label="<%= t('.search_category.followers') %>">
        <label class="form-check-label" for="category-followers" style="white-space: nowrap;"><%= t('.search_category.followers') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_friends" value="one_sided_friends" data-label="<%= t('.search_category.one_sided_friends') %>">
        <label class="form-check-label" for="category-one_sided_friends" style="white-space: nowrap;"><%= t('.search_category.one_sided_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_followers" value="one_sided_followers" data-label="<%= t('.search_category.one_sided_followers') %>">
        <label class="form-check-label" for="category-one_sided_followers" style="white-space: nowrap;"><%= t('.search_category.one_sided_followers') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check">
        <input class="form-check-input" type="radio" name="category" id="category-mutual_friends" value="mutual_friends" data-label="<%= t('.search_category.mutual_friends') %>">
        <label class="form-check-label" for="category-mutual_friends" style="white-space: nowrap;"><%= t('.search_category.mutual_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    </div>
  </div>
</div>

<%# Search type %>
<a id="search-type-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mb-5">
  <div class="mb-3">
    <span class="h5" data-toggle="underline" data-target="#search-type-underline"><%= t('.search_type.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_type.tooltip') %>"></i>
    <div id="search-type-underline" class="underline"></div>
  </div>

  <div class="container">
    <div class="row mb-1">
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-job" value="job" data-label="<%= t('.search_type.job') %>" checked>
        <label class="form-check-label" for="type-job"><%= t('.search_type.job') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-location" value="location" data-label="<%= t('.search_type.location') %>">
        <label class="form-check-label" for="type-location"><%= t('.search_type.location') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-url" value="url" data-label="<%= t('.search_type.url') %>">
        <label class="form-check-label" for="type-url"><%= t('.search_type.url') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
      <div class="col-sm-12 col-md-3 form-check mb-2">
        <input class="form-check-input" type="radio" name="type" id="type-keyword" value="keyword" data-label="<%= t('.search_type.keyword') %>">
        <label class="form-check-label" for="type-keyword"><%= t('.search_type.keyword') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    </div>
  </div>
</div>

<%# Search label %>
<a id="search-label-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mb-5">
  <div class="mb-3">
    <span class="h5" data-toggle="underline" data-target="#search-label-underline"><%= t('.search_label.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_label.tooltip') %>"></i>
    <div id="search-label-underline" class="underline"></div>
  </div>
  <input type="text" id="search-label" class="form-control mb-2" list="search-label-options"
         data-placeholder="<%= t('.search_label.placeholder') %>"
         data-placeholder-job="<%= t('.search_label.placeholder_job') %>"
         data-placeholder-location="<%= t('.search_label.placeholder_location') %>"
         data-placeholder-url="<%= t('.search_label.placeholder_url') %>"
         data-placeholder-keyword="<%= t('.search_label.placeholder_keyword') %>"
         style="min-width: 200px; max-width: 300px;">
  <datalist id="search-label-options">
  </datalist>
  <div id="quick-select">
    <span><%= t('.search_label.quick_select') %></span>
    <a class="badge badge-primary mr-1" href="#"></a>
    <a class="badge badge-primary mr-1" href="#"></a>
    <a class="badge badge-primary" href="#"></a>
  </div>
</div>

<div class="mb-5">
</div>

<div class="d-flex mb-5">
<%# Filter %>
  <div>
    <button id="" class="btn btn-outline-secondary">
      <i class="fas fa-filter text-muted"></i>
      <%= t('.filter.button') %>
    </button>
  </div>
<%# Sort %>
  <select id="search-sort" class="custom-select ml-5" style="width: auto;">
    <option value="asc" selected><%= Sort.value_to_label(:asc) %></option>
    <option value="desc"><%= Sort.value_to_label(:desc) %></option>
  </select>

</div>

<%# Submit %>
<div class="d-flex align-items-center mb-5">
  <div>
    <button id="search-submit" type="submit" class="btn btn-primary"><%= t('.search_label.submit') %></button>
  </div>

  <div class="form-group form-check ml-5 mb-0">
    <input type="checkbox" class="form-check-input" id="reduced-display-check" checked>
    <label class="form-check-label" for="reduced-display-check"><%= t('.reduced_display.title') %></label>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.reduced_display.tooltip') %>"></i>
  </div>
</div>

<div class="mb-5">
  <hr>
</div>

<a id="search-response-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="pb-5" style="min-height: 300px;">
  <p class="search-response-title lead mb-5" style="display: none;">
    <%= t('.search_response.html') %>
  </p>

  <div id="search-response"></div>
</div>


<script>
  $(function () {
    var i18n = {
      loading: '<%= t('.js.loading') %>',
      specify_correct_label: '<%= t('.js.specify_correct_label') %>',
      no_results_found: '<%= t('.js.no_results_found_html', app: t('app_name')) %>'
    };
    var form = new SearchForm('<%= raw api_searches_path %>', i18n);
    var label = new SearchLabel('<%= raw api_label_options_path %>', form);
    form.setSearchLabel(label);
    label.fetchOptions();

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
