<% user_decorator = current_user.to_user_decorator(self) %>

<%# Search user %>
<div class="mb-5">
  <div class="mb-3">
    <span class="h6" data-toggle="underline" data-target="#search-user-underline"><%= t('.search_user.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_user.tooltip') %>"></i>
    <div id="search-user-underline" class="underline"></div>
  </div>
  <% if current_user.has_subscription?(:pro) %>
    <input type="text" id="search-user" class="form-control mb-2" list="search-user-options"
           value="<%= current_user.screen_name %>"
           placeholder="<%= t('.search_user.placeholder') %>">
    <datalist id="search-user-options">
    </datalist>
    <div id="quick-select-user">
      <span><%= t('.search_user.quick_select') %></span>
      <a class="badge badge-primary mr-1" href="#"></a>
      <a class="badge badge-primary mr-1" href="#"></a>
      <a class="badge badge-primary" href="#"></a>
    </div>
  <% else %>
    <div style="position: relative;">
      <input type="text" class="form-control mb-2 disabled" value="<%= current_user.screen_name %>" disabled>
      <div id="disabled-search-user" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
    </div>
    <div class="text-muted small mt-1"><%= t('.search_user.free_help_html') %></div>
    <input type="hidden" id="search-user" value="<%= current_user.screen_name %>">
    <script>
      $('#disabled-search-user').on('click', function () {
        alert('<%= t('.disabled_search_user.alert') %>')
      });
    </script>
  <% end %>
</div>

<%# Search category %>
<a id="search-category-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mr-5 mb-5">
  <div class="mb-3">
    <span class="h6" data-toggle="underline" data-target="#search-category-underline"><%= t('.search_category.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_category.tooltip') %>"></i>
    <div id="search-category-underline" class="underline"></div>
  </div>

  <div class="small ml-3 mb-1">
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="category" id="category-friends" value="friends" data-label="<%= t('.search_category.friends') %>" checked>
      <label class="form-check-label" for="category-friends"><%= t('.search_category.friends') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="category" id="category-followers" value="followers" data-label="<%= t('.search_category.followers') %>">
      <label class="form-check-label" for="category-followers"><%= t('.search_category.followers') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
    <% if current_user.has_subscription?(:plus) %>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_friends" value="one_sided_friends" data-label="<%= t('.search_category.one_sided_friends') %>">
        <label class="form-check-label" for="category-one_sided_friends"><%= t('.search_category.one_sided_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% else %>
      <div class="form-check disabled mb-2">
        <input class="form-check-input" type="radio" disabled>
        <label class="form-check-label" for="category-one_sided_friends"><%= t('.search_category.one_sided_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% end %>
    <% if current_user.has_subscription?(:plus) %>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="category" id="category-one_sided_followers" value="one_sided_followers" data-label="<%= t('.search_category.one_sided_followers') %>">
        <label class="form-check-label" for="category-one_sided_followers"><%= t('.search_category.one_sided_followers') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% else %>
      <div class="form-check disabled mb-2">
        <input class="form-check-input" type="radio" disabled>
        <label class="form-check-label" for="category-one_sided_followers"><%= t('.search_category.one_sided_followers') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% end %>
    <% if current_user.has_subscription?(:plus) %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="category-mutual_friends" value="mutual_friends" data-label="<%= t('.search_category.mutual_friends') %>">
        <label class="form-check-label" for="category-mutual_friends"><%= t('.search_category.mutual_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% else %>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" disabled>
        <label class="form-check-label" for="category-mutual_friends"><%= t('.search_category.mutual_friends') %>&nbsp;<span class="count small text-muted"></span></label>
      </div>
    <% end %>
  </div>

  <% unless current_user.has_subscription?(:plus) %>
    <div class="text-muted small mt-3"><%= t('.search_category.free_help_html') %></div>
  <% end %>
</div>

<%# Search type %>
<a id="search-type-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mb-5">
  <div class="mb-3">
    <span class="h6" data-toggle="underline" data-target="#search-type-underline"><%= t('.search_type.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_type.tooltip') %>"></i>
    <div id="search-type-underline" class="underline"></div>
  </div>

  <div class="small ml-3 mb-1">
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="type" id="type-job" value="job" data-label="<%= t('.search_type.job') %>" checked>
      <label class="form-check-label" for="type-job"><%= t('.search_type.job') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="type" id="type-location" value="location" data-label="<%= t('.search_type.location') %>">
      <label class="form-check-label" for="type-location"><%= t('.search_type.location') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="type" id="type-url" value="url" data-label="<%= t('.search_type.url') %>">
      <label class="form-check-label" for="type-url"><%= t('.search_type.url') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="type" id="type-keyword" value="keyword" data-label="<%= t('.search_type.keyword') %>">
      <label class="form-check-label" for="type-keyword"><%= t('.search_type.keyword') %>&nbsp;<span class="count small text-muted"></span></label>
    </div>
  </div>
</div>

<%# Search label %>
<a id="search-label-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
<div class="mb-5">
  <div class="mb-3">
    <span class="h6" data-toggle="underline" data-target="#search-label-underline"><%= t('.search_label.title') %></span>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_label.tooltip') %>"></i>
    <div id="search-label-underline" class="underline"></div>
  </div>
  <div class="input-group mb-2">
    <input type="text" id="search-label" class="form-control"
           value="<%= current_user.to_user_decorator(self).job_label_s %>"
           data-placeholder="<%= t('.search_label.placeholder') %>"
           data-placeholder-job="<%= t('.search_label.placeholder_job') %>"
           data-placeholder-location="<%= t('.search_label.placeholder_location') %>"
           data-placeholder-url="<%= t('.search_label.placeholder_url') %>"
           data-placeholder-keyword="<%= t('.search_label.placeholder_keyword') %>">
    <div class="input-group-append">
      <button id="clear-search-label" class="btn btn-outline-secondary" type="button">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div id="quick-select" class="small">
    <span><%= t('.search_label.quick_select') %></span>
    <a class="badge badge-primary mr-1" href="#"></a>
    <a class="badge badge-primary mr-1" href="#"></a>
    <a class="badge badge-primary" href="#"></a>
  </div>
</div>

<%# Filter %>
<div class="mb-5">
  <div>
    <label for="search-filter"><%= t('.filter') %></label>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.filter_help') %>"></i>
  </div>
  <select id="search-filter" class="custom-select">
    <option selected><%= t('.not_specified') %></option>
    <% Filter::VALUES.each.with_index do |value, i| %>
      <% if i == 0 || i == 4 || i == 7 || i == 9 %>
        <option disabled>----</option>
      <% end %>
      <option value="<%= value %>"><%= Filter.value_to_label(value) %></option>
    <% end %>
  </select>
</div>

<%# Sort %>
<div class="mb-5">
  <div>
    <label for="search-sort"><%= t('.sort') %></label>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.sort_help') %>"></i>
  </div>
  <select id="search-sort" class="custom-select">
    <option value="<%= Sort::VALUES[0] %>" selected><%= Sort.value_to_label(Sort::VALUES[0]) %></option>
    <option value="<%= Sort::VALUES[1] %>"><%= Sort.value_to_label(Sort::VALUES[1]) %></option>
  </select>
</div>

<%# Reduced display %>
<div class="form-group form-check mb-5">
  <input type="checkbox" class="form-check-input" id="reduced-display-check" <%= 'checked' if request.from_smartphone? %>>
  <label class="form-check-label" for="reduced-display-check"><%= t('.reduced_display.title') %></label>
  <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.reduced_display.tooltip') %>"></i>
</div>

<%# Desktop site %>
<div class="form-group form-check mb-5">
  <input type="checkbox" class="form-check-input" id="desktop-site-check" <%= 'checked' if show_desktop_site? %>>
  <label class="form-check-label" for="desktop-site-check"><%= t('.desktop_site.title') %></label>
  <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.desktop_site.tooltip') %>"></i>
</div>

<%# Submit %>
<div>
  <button id="search-submit" type="submit" class="btn btn-primary"><%= t('.search_label.submit') %></button>
</div>

<script>
  $(function () {
    var i18n = {
      loading: '<%= t('.js.loading') %>',
      payment_required: '<%= t('.js.payment_required_html') unless current_user.has_subscription?(:plus) %>'
    };
    var form = new SearchForm('<%= raw api_searches_path %>', i18n);
    var label = new SearchLabel('<%= raw api_label_options_path %>', form);
    form.setSearchLabel(label);
    label.fetchOptions(function () {
      form.search();
    });

    $('#desktop-site-check').on('change', function () {
      if ($(this).prop('checked')) {
        window.location.href = '<%= raw dashboard_path(desktop_site: true) %>';
      } else {
        window.location.href = '<%= raw dashboard_path(desktop_site: false) %>';
      }
    });

    $('[data-toggle="tooltip"]').tooltip();

    $('.form-check.disabled').on('click', function () {
      alert('<%= t('.search_category.disabled_check') %>');
    });
  });
</script>
