<%= render partial: 'shared/navbar' %>

<div class="container mt-3 mb-5">
  <div class="row">
    <%# Form %>
    <div class="col-md-4 order-md-2 border-left">
      <div class="mb-5">
        <% if !show_desktop_site? && request.from_smartphone? %>
          <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" aria-expanded="false" href="#form-container">
            <%= t('.search_settings') %>
            <i class="fas fa-search text-muted"></i>
          </button>
          <div id="form-container" class="border collapse mt-3 p-3">
            <%= render partial: 'form', locals: { initial_label: @initial_label } %>
          </div>
        <% else %>
          <%= render partial: 'form', locals: { initial_label: @initial_label } %>
        <% end %>
      </div>
      <hr class="mb-5 d-md-none">
    </div>
    <%# Response %>
    <div class="col order-md-1">
      <a id="search-response-anchor" style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
      <div class="pb-5" style="min-height: 300px;">
        <p id="search-response-title" class="lead mb-5" style="display: none;">
          <%= t('dashboard.form.search_response.html') %>
        </p>

        <p id="search-response-error" class="lead mb-5" style="display: none;"></p>
        <p id="specify-correct-label-message" class="lead mb-5" style="display: none;"><%= t('dashboard.form.js.specify_correct_label_html') %></p>
        <div id="no-results-found-message" class="mb-5" style="display: none;"><%= t('dashboard.form.js.no_results_found_html', app: t('app_name')) %></div>

        <% if current_user.has_subscription?(:pro) %>
          <%# Render nothing %>
        <% elsif current_user.has_subscription?(:plus) %>
          <p class="text-muted small mb-5"><%= t('.plus_plan_note_html') %></p>
        <% else %>
          <p class="text-muted small mb-5"><%= t('.free_plan_note_html') %></p>
        <% end %>

        <div class="text-center">
          <%= render partial: 'shared/share_buttons' %>
        </div>

        <div id="chart-container" class="mb-5"></div>

        <div id="search-response"></div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'templates/search_response_user_template' %>

<%= render partial: 'shared/footer' %>
