<div id="search-response-user-template" style="display: none;">
  <div class="border rounded mb-3 pt-3 px-3" style="position: relative;">
    <div class="d-flex mb-3">
      <div class="mr-3">
        <a href="https://twitter.com/{{screen_name}}" target="_blank">
          <img class="rounded-circle border shadow-sm" data-src="{{profile_image_url}}" width="40" height="40">
        </a>
      </div>
      <div>
        <div>
          <strong>{{name}}</strong>
          <a class="text-muted" href="https://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
        </div>
        <div>
          <div class="small">{{{labels}}}</div>
        </div>
      </div>
    </div>

    <div class="small mb-3" style="word-break: break-all;">{{{description}}}</div>

    <div class="search-response-user-details">
      <div class="mb-3">
        <div class="small d-inline-block mr-3">
          <i class="fas fa-map-marker-alt text-muted"></i>
          <span class="text-muted">{{location}}</span>
        </div>
        <div class="small d-inline-block">
          <i class="fas fa-link text-muted"></i>
          <a class="text-muted" href="{{url}}" target="_blank">
            {{url_s}}
          </a>
        </div>
      </div>

      <div>
        <div class="d-inline-block mr-3 mb-3">
          <a href="https://twitter.com/{{screen_name}}" target="_blank">
            <strong class="text-body">{{statuses_count_s}}</strong>
            <span class="small text-muted"><%= t('.statuses') %></span>
          </a>
        </div>
        <div class="d-inline-block mr-3">
          <a href="https://twitter.com/{{screen_name}}/following" target="_blank">
            <strong class="text-body">{{friends_count_s}}</strong>
            <span class="small text-muted"><%= t('.following') %></span>
          </a>
        </div>
        <div class="d-inline-block">
          <a href="https://twitter.com/{{screen_name}}/followers" target="_blank">
            <strong class="text-body">{{followers_count_s}}</strong>
            <span class="small text-muted"><%= t('.followers') %></span>
          </a>
        </div>
      </div>

      <div style="display: {{status_display}};">
        <hr>
        <div class="mb-3">
          <p class="small mb-0">
            {{status_text}}
            <span class="text-muted">&#8212;</span>
            <a class="text-muted" href="https://twitter.com/{{screen_name}}/status/{{status_id}}" target="_blank">{{status_created_at}}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="dropdown" style="position: absolute; right: 10px; top: 8px;">
      <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="text-muted fas fa-ellipsis-h" style="cursor: pointer;"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="<%= egotter_url('{{screen_name}}') %>" target="_blank"><%= t('.egotter') %></a>
        <a class="dropdown-item" href="<%= twitter_url('{{screen_name}}') %>" target="_blank"><%= t('.twitter') %></a>
        <a class="dropdown-item" href="<%= direct_message_url(current_user.uid, '{{uid}}') %>" target="_blank"><%= t('.direct_message') %></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#report-modal"><%= t('.error_report') %></a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#report-modal"><%= t('.bug_report') %></a>
      </div>
    </div>
    <div style="position: absolute; right: 8px; bottom: 4px; color: lightgray;">{{index_number}}</div>
  </div>
</div>
