<div id="search-response-user-template" style="display: none;">
  <div class="border rounded mb-3 pt-3 px-3" style="position: relative;">
    <div class="d-flex mb-3">
      <div class="mr-3">
        <a href="https://twitter.com/{{screen_name}}" target="_blank">
          <img class="rounded-circle border shadow-sm" data-src="{{profile_image_url}}" width="40" height="40">
        </a>
      </div>
      <div>
        <div>
          <strong>{{name}}</strong>
          <a class="text-muted" href="https://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
          {{{protected_label}}}
          {{{verified_label}}}
        </div>
        <div>
          <div class="small">{{{labels}}}</div>
        </div>
      </div>
    </div>

    <div class="search-response-user-details" data-uid="{{uid}}">
      <div class="small mb-3" style="word-break: break-all;">{{{description}}}</div>

      <div class="mb-3">
        <div class="small d-inline-block mr-3">
          <i class="fas fa-map-marker-alt text-muted"></i>
          <span class="text-muted">{{location}}</span>
        </div>
        <div class="small d-inline-block">
          <i class="fas fa-link text-muted"></i>
          <a class="text-muted" href="{{url}}" target="_blank">
            {{url_s}}
          </a>
        </div>
      </div>

      <div>
        <div class="d-inline-block mr-3 mb-2">
          <a href="https://twitter.com/{{screen_name}}" target="_blank">
            <strong class="text-body">{{statuses_count_s}}</strong>
            <span class="small text-muted"><%= t('.statuses') %></span>
          </a>
        </div>
        <div class="d-inline-block mr-3 mb-2">
          <a href="https://twitter.com/{{screen_name}}/following" target="_blank">
            <strong class="text-body">{{friends_count_s}}</strong>
            <span class="small text-muted"><%= t('.following') %></span>
          </a>
        </div>
        <div class="d-inline-block mr-3 mb-2">
          <a href="https://twitter.com/{{screen_name}}/followers" target="_blank">
            <strong class="text-body">{{followers_count_s}}</strong>
            <span class="small text-muted"><%= t('.followers') %></span>
          </a>
        </div>
        <div class="d-inline-block mr-3 mb-2">
          <a href="https://twitter.com/{{screen_name}}/lists/memberships" target="_blank">
            <strong class="text-body">{{listed_count_s}}</strong>
            <span class="small text-muted"><%= t('.lists') %></span>
          </a>
        </div>
        <div class="d-inline-block mb-2">
          <a href="https://twitter.com/{{screen_name}}/likes" target="_blank">
            <strong class="text-body">{{favourites_count_s}}</strong>
            <span class="small text-muted"><%= t('.likes') %></span>
          </a>
        </div>
      </div>

      {{#status_display}}
      <hr>
      <div class="mb-3">
        <p class="small mb-1" style="word-break: break-all;">
          {{status_text}}
        </p>
        {{#status_photos_display}}
        <div style="max-width: 100%;">
          {{#status_photo_urls}}
          <a href="{{.}}" target="_blank">
            <img class="img-fluid mr-2 mb-1" data-src="{{.}}" style="max-width: 20%;">
          </a>
          {{/status_photo_urls}}
        </div>
        {{/status_photos_display}}
        <div class="small">
          <span class="text-muted">&#8212;</span>
          <a class="text-muted" href="https://twitter.com/{{screen_name}}/status/{{status_id}}" target="_blank">{{status_created_at}}</a>
          <span class="text-muted ml-3"><i class="fas fa-retweet"></i> {{status_retweet_count_s}}</span>
          <span class="text-muted ml-3"><i class="far fa-heart"></i> {{status_favorite_count_s}}</span>
        </div>
      </div>
      {{/status_display}}
    </div>

    <div class="profile-dropdown-menu dropdown" style="position: absolute; right: 10px; top: 8px;">
      <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="text-muted fas fa-ellipsis-h" style="cursor: pointer;"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item open-user-details mb-2" href="#" data-uid="{{uid}}"><i class="fas fa-expand-arrows-alt text-muted"></i>&nbsp;<%= t('.details') %></a>
        <div class="dropdown-divider mb-2"></div>
        <a class="dropdown-item mb-2" href="<%= egotter_url('{{screen_name}}') %>" target="_blank"><img src="<%= image_path '/egotter192.png' %>" width="16" height="16">&nbsp;<%= t('.egotter') %></a>
        <a class="dropdown-item mb-2" href="<%= twitter_url('{{screen_name}}') %>" target="_blank"><i class="fab fa-twitter text-muted"></i>&nbsp;<%= t('.twitter') %></a>
        <a class="dropdown-item mb-2" href="<%= reply_url('{{screen_name}}') %>" target="_blank"><i class="far fa-comment text-muted"></i>&nbsp;<%= t('.reply') %></a>
        <a class="dropdown-item mb-2" href="<%= direct_message_url(current_user.uid, '{{uid}}') %>" target="_blank"><i class="far fa-envelope text-muted"></i>&nbsp;<%= t('.direct_message') %></a>
        <div class="dropdown-divider mb-2"></div>
        <a class="dropdown-item mb-2" href="#" data-toggle="modal" data-target="#report-modal"><i class="fas fa-wrench text-muted"></i>&nbsp;<%= t('.fix') %></a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#report-modal"><i class="far fa-flag text-muted"></i>&nbsp;<%= t('.bug') %></a>
      </div>
    </div>
    <div style="position: absolute; right: 8px; bottom: 4px; color: lightgray;">{{index_number}}</div>
  </div>
</div>

<script>
  $(function () {
    $(document).on('click', '.open-user-details', function () {
      var uid = $(this).data('uid');
      if (uid) {
        $('.search-response-user-details[data-uid="' + uid + '"]').show();
      }
      return false;
    });

    $(document).on('click', '.profile-dropdown-menu .dropdown-menu a', function () {
      $(this).parents('.profile-dropdown-menu').find('div[data-toggle="dropdown"]').dropdown('toggle');
    });
  });
</script>
