<div class="new-age-container">
  <footer>
    <div class="container">
      <p>&copy; <%= t('app_name') %> 2021. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#" data-toggle="modal" data-target="#privacy-modal">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#" data-toggle="modal" data-target="#terms-modal">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#" data-toggle="modal" data-target="#faq-modal">FAQ</a>
        </li>
        <li class="list-inline-item">
          <% if I18n.locale == :ja %>
            <%= link_to t('home.index.english', locale: :en), root_path(locale: 'en', via: 'language') %>
          <% else %>
            <%= link_to t('home.index.japanese', locale: :ja), root_path(locale: 'ja', via: 'language') %>
          <% end %>
        </li>
        <li class="list-inline-item">
          <% if user_signed_in? %>
            <a href="#" data-toggle="modal" data-target="#sign-out-modal"><%= t('home.index.sign_out') %></a>
          <% else %>
            <%= link_to t('home.index.sign_in'), user_twitter_omniauth_authorize_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </footer>
</div>
