<% container_id = SecureRandom.urlsafe_base64(10) %>
<div id="<%= container_id %>">
  <div class="mb-2">
    <%= t('.title') %>
    <i class="far fa-question-circle text-muted"></i>
  </div>

  <div class="mb-1">
    <div id="<%= element_id %>" class="btn-group" role="group">
      <button type="button" class="btn-friends btn btn-outline-secondary" data-value="friends"><%= t('.friends.label') %></button>
      <button type="button" class="btn-followers btn btn-primary" data-value="followers"><%= t('.followers.label') %></button>
    </div>
  </div>

  <div class="friends-selected-text small text-muted" style="display: none;"><%= t('.friends.help_html') %></div>
  <div class="followers-selected-text small text-muted"><%= t('.followers.help_html') %></div>
</div>

<script>
  $(function () {
    var containerId = '<%= container_id %>';
    var friendsButton = $('#' + containerId).find('.btn-friends');
    var followersButton = $('#' + containerId).find('.btn-followers');

    function activateButton(button) {
      button.removeClass('btn-outline-secondary').addClass('btn-primary');
    }

    function deactivateButton(button) {
      button.removeClass('btn-primary').addClass('btn-outline-secondary');
    }

    function switchActiveButton() {
      if ($(this).hasClass('btn-followers')) {
        deactivateButton(friendsButton);
        activateButton(followersButton);
        $('.friends-selected-text').hide();
        $('.followers-selected-text').hide().fadeIn(500);
      } else {
        deactivateButton(followersButton);
        activateButton(friendsButton);
        $('.friends-selected-text').hide().fadeIn(500);
        $('.followers-selected-text').hide();
      }
    }

    followersButton.on('click', switchActiveButton)
    friendsButton.on('click', switchActiveButton)
  });
</script>
