<% container_id = SecureRandom.urlsafe_base64(10) %>
<div id="<%= container_id %>">
  <div class="mb-2">
    <%= t('.title') %>
    <i class="far fa-question-circle text-muted"></i>
  </div>

  <div class="mb-1">
    <div id="<%= element_id %>" class="btn-group" role="group">
      <button type="button" class="btn-job btn btn-primary" data-value="job"><%= t('.search_by_job') %></button>
      <button type="button" class="btn-location btn btn-outline-secondary" data-value="location"><%= t('.search_by_location') %></button>
    </div>
  </div>

  <div class="job-selected-text small text-muted"><%= t('.job_help_html') %></div>
  <div class="location-selected-text small text-muted" style="display: none;"><%= t('.location_help_html') %></div>
</div>

<script>
  $(function () {
    var containerId = '<%= container_id %>';
    var jobButton = $('#' + containerId).find('.btn-job');
    var locationButton = $('#' + containerId).find('.btn-location');

    function activateButton(button) {
      button.removeClass('btn-outline-secondary').addClass('btn-primary');
    }

    function deactivateButton(button) {
      button.removeClass('btn-primary').addClass('btn-outline-secondary');
    }

    function switchActiveButton() {
      if ($(this).hasClass('btn-job')) {
        deactivateButton(locationButton)
        activateButton(jobButton)
        $('.job-selected-text').hide().fadeIn(500);
        $('.location-selected-text').hide();
      } else {
        deactivateButton(jobButton)
        activateButton(locationButton)
        $('.job-selected-text').hide();
        $('.location-selected-text').hide().fadeIn(500);
      }
    }

    jobButton.on('click', switchActiveButton)
    locationButton.on('click', switchActiveButton)
  });
</script>
