<section class="pricing py-5">
  <div class="container">
    <p class="lead text-center mb-5">
      <%= t('.description', date: l(2.weeks.since, format: :pricing)) %>
      <sup><a href="#pricing-footnote">1</a></sup>
    </p>
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-center"><%= t('.free.name') %></h5>
            <h6 class="card-price text-center">
              <%= t('.free.price') %>
              <span class="period"><%= t('.free.period') %></span>
            </h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_yourself') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_by_job') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_by_location') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_by_url') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_by_keyword') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.free.search_followers') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.free.filter_one_sided_following') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.free.filter_one_sided_followers') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.free.filter_mutual_following') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.free.tweeting_frequency') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.free.search_anyone') %></li>
            </ul>
            <% if user_signed_in? %>
              <a href="#" class="btn btn-block disabled"><%= t('.free.already_signed_in') %></a>
            <% else %>
              <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'pricing_free') %>" class="btn btn-block"><%= t('.free.button') %></a>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-center"><%= t('.plus.name') %></h5>
            <h6 class="card-price text-center">
              <del class="text-muted"><%= t('.plus.old_price') %></del>
              <%= t('.plus.new_price') %>
              <span class="period"><%= t('.plus.period') %></span>
            </h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_yourself') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_by_job') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_by_location') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_by_url') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_by_keyword') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.search_followers') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.filter_one_sided_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.filter_one_sided_followers') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.filter_mutual_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.plus.tweeting_frequency') %></li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= t('.plus.search_anyone') %></li>
            </ul>
            <% if user_signed_in? %>
              <% if current_user.has_subscription?(:plus) %>
                <a href="#" class="btn btn-block disabled"><%= t('.plus.already_purchased') %></a>
              <% else %>
                <a href="#" class="btn btn-block btn-checkout"><%= t('.plus.button') %></a>
              <% end %>
            <% else %>
              <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'pricing_pro') %>" class="btn btn-block"><%= t('.plus.button') %></a>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-center"><%= t('.pro.name') %></h5>
            <h6 class="card-price text-center">
              <del class="text-muted"><%= t('.pro.old_price') %></del>
              <%= t('.pro.new_price') %>
              <span class="period"><%= t('.pro.period') %></span>
            </h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_yourself') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_by_job') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_by_location') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_by_url') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_by_keyword') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_followers') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.filter_one_sided_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.filter_one_sided_followers') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.filter_mutual_following') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.tweeting_frequency') %></li>
              <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span><%= t('.pro.search_anyone') %></li>
            </ul>
            <a href="<%= support_url %>" class="btn btn-block" target="_blank"><%= t('.pro.button') %></a>
          </div>
        </div>
      </div>
    </div>
    <div id="pricing-footnote" class="small mt-5"><sup>1</sup><%= t('.footnote') %></div>
  </div>
</section>

