<script src="<%= asset_path '/template/js/new-age.js' %>"></script>

<div class="new-age-container">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path(via: 'app_name') %>"><%= t('app_name') %></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if user_signed_in? %>
            <a class="nav-link" href="<%= dashboard_path %>"><%= t('.dashboard') %></a>
          <% else %>
            <a class="nav-link" href="<%= raw user_twitter_omniauth_authorize_path(via: 'navbar') %>"><%= t('.sign_in') %></a>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5"><%= t('.masthead.text') %></h1>
            <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'masthead') %>" class="btn btn-outline btn-xl"><%= t('.masthead.button') %></a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait black">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="<%= asset_path '/template/img/demo-screen-2.png' %>" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading mb-5"><%= t('.download.title') %></h2>
          <p class="mb-5"><%= t('.download.text_html') %></p>
          <div class="mb-5">
            <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'download') %>" class="btn btn-outline btn-xl"><%= t('.masthead.button') %></a>
          </div>
          <div>
            <h3 class="mb-4"><%= t('.download.features.what_app_can_do', app: t('app_name')) %></h3>
            <div class="mb-2"><%= t('.download.features.job') %></div>
            <div class="mb-2"><%= t('.download.features.location') %></div>
            <div class="mb-2"><%= t('.download.features.url') %></div>
            <div class="mb-2"><%= t('.download.features.keyword') %></div>
          </div>
          <div class="badges" style="display: none;">
            <a class="badge-link" href="#"><img src="<%= asset_path '/template/img/google-play-badge.svg' %>" alt=""></a>
            <a class="badge-link" href="#"><img src="<%= asset_path '/template/img/app-store-badge.svg' %>" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="download2 bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading mb-5"><%= t('.download2.title') %></h2>
          <p class="mb-5"><%= t('.download2.text_html') %></p>
          <div class="mb-5">
            <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'download2') %>" class="btn btn-outline btn-xl"><%= t('.masthead.button') %></a>
          </div>
          <div>
            <h3 class="mb-4"><%= t('.download2.features.what_app_can_do', app: t('app_name')) %></h3>
            <div class="mb-2"><%= t('.download2.features.job') %></div>
            <div class="mb-2"><%= t('.download2.features.location') %></div>
            <div class="mb-2"><%= t('.download2.features.url') %></div>
            <div class="mb-2"><%= t('.download2.features.keyword') %></div>
          </div>
          <div class="badges" style="display: none;">
            <a class="badge-link" href="#"><img src="<%= asset_path '/template/img/google-play-badge.svg' %>" alt=""></a>
            <a class="badge-link" href="#"><img src="<%= asset_path '/template/img/app-store-badge.svg' %>" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2 class="mb-5"><%= t('.features.title', app: t('app_name')) %></h2>
        <p class="text-muted mb-5"><%= t('.features.text_html', app: t('app_name')) %></p>
        <div>
          <a href="<%= raw user_twitter_omniauth_authorize_path(via: 'features') %>" class="btn btn-outline btn-xl"><%= t('.masthead.button') %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait black">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="<%= asset_path '/template/img/demo-screen-2.png' %>" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-energy text-primary"></i>
                  <h3><%= t('.features.first.title') %></h3>
                  <p class="text-muted"><%= t('.features.first.text') %></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-location-pin text-primary"></i>
                  <h3><%= t('.features.second.title') %></h3>
                  <p class="text-muted"><%= t('.features.second.text') %></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-bulb text-primary"></i>
                  <h3><%= t('.features.third.title') %></h3>
                  <p class="text-muted"><%= t('.features.third.text') %></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-magic-wand text-primary"></i>
                  <h3><%= t('.features.fourth.title') %></h3>
                  <p class="text-muted"><%= t('.features.fourth.text') %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" style="display: none;">
    <div class="cta-content">
      <div class="container">
        <h2><%= t('.cta.title') %></h2>
        <a href="#contact" class="btn btn-outline btn-xl"><%= t('.cta.text') %></a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
</div>

<%= render partial: 'pricing' %>

<div class="new-age-container">
  <section class="contact" id="contact">
    <div class="container">
      <h2><%= t('.contact.title_html') %></h2>
      <div class="mb-5"><%= t('.contact.text_html') %></div>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="https://twitter.com/egotter_cs" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>

<%= render partial: 'shared/footer' %>
