<div class="d-flex flex-wrap">
  <%# Search category %>
  <div class="mr-5 mb-5">
    <div class="mb-2">
      <%= t('.search_category.title') %>
      <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_category.tooltip') %>"></i>
    </div>

    <div class="mb-1">
      <div id="search-category-buttons" class="btn-group" role="group">
        <button type="button" class="btn-friends btn btn-outline-secondary" data-value="friends"><%= t('.search_category.friends.label') %></button>
        <button type="button" class="btn-followers btn btn-primary" data-value="followers"><%= t('.search_category.followers.label') %></button>
      </div>
    </div>

    <div class="friends-selected-text small text-muted" style="display: none;"><%= t('.search_category.friends.help_html') %></div>
    <div class="followers-selected-text small text-muted"><%= t('.search_category.followers.help_html') %></div>
  </div>

  <%# Search type %>
  <div class="mb-5">
    <div class="mb-2">
      <%= t('.search_type.title') %>
      <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_type.tooltip') %>"></i>
    </div>

    <div class="mb-1">
      <div id="search-type-buttons" class="btn-group" role="group">
        <button type="button" class="btn-job btn btn-primary" data-value="job"><%= t('.search_type.job') %></button>
        <button type="button" class="btn-location btn btn-outline-secondary" data-value="location"><%= t('.search_type.location') %></button>
        <button type="button" class="btn-url btn btn-outline-secondary" data-value="url"><%= t('.search_type.url') %></button>
        <button type="button" class="btn-keyword btn btn-outline-secondary" data-value="keyword"><%= t('.search_type.keyword') %></button>
      </div>
    </div>

    <div class="job-selected-text small text-muted"><%= t('.search_type.job_help_html') %></div>
    <div class="location-selected-text small text-muted" style="display: none;"><%= t('.search_type.location_help_html') %></div>
    <div class="url-selected-text small text-muted" style="display: none;"><%= t('.search_type.url_help_html') %></div>
    <div class="keyword-selected-text small text-muted" style="display: none;"><%= t('.search_type.keyword_help_html') %></div>
  </div>
</div>

<%# Search label %>
<div class="mb-5">
  <div class="mb-2">
    <%= t('.search_label.title') %>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.search_label.tooltip') %>"></i>
  </div>
  <input type="text" id="search-label" class="form-control" list="search-label-options" placeholder="Choose label" style="width: initial;">
  <datalist id="search-label-options">
  </datalist>
</div>

<div class="mb-5">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="show-details-check">
    <label class="form-check-label" for="show-details-check"><%= t('.show_details.title') %></label>
    <i class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="top" title="<%= t('.show_details.tooltip') %>"></i>
  </div>
</div>

<%# Submit %>
<div class="mb-5">
  <button id="job-submit" type="submit" class="btn btn-primary"><%= t('.search_label.submit') %></button>
</div>

<div class="mb-5">
  <hr>
</div>

<div class="pb-5" style="min-height: 300px;">
  <p class="search-response-title lead mb-5" style="display: none;">
    <%= t('.search_response.html', user: current_user.screen_name) %>
  </p>

  <div id="search-response"></div>
</div>


<script>
  $(function () {
    var friendsButton = $('.btn-friends');
    var followersButton = $('.btn-followers');
    var jobButton = $('.btn-job');
    var locationButton = $('.btn-location');
    var urlButton = $('.btn-url');
    var keywordButton = $('.btn-keyword');
    var labelSelector = $('#search-label');
    var lastUid;
    var currentIndexNumber;

    function resetSearchState() {
      $('.search-response-title').hide();
      $('#search-response').empty();
      lastUid = null;
      currentIndexNumber = 1;
    }

    function activateButton(button) {
      button.removeClass('btn-outline-secondary').addClass('btn-primary');
    }

    function deactivateButton(button) {
      button.removeClass('btn-primary').addClass('btn-outline-secondary');
    }

    function switchCategoryButton() {
      resetSearchState();
      labelSelector.val('');

      if ($(this).hasClass('btn-friends')) {
        deactivateButton(followersButton);
        activateButton(friendsButton);
        $('.friends-selected-text').hide().fadeIn(500);
        $('.followers-selected-text').hide();
      } else if ($(this).hasClass('btn-followers')) {
        deactivateButton(friendsButton);
        activateButton(followersButton);
        $('.friends-selected-text').hide();
        $('.followers-selected-text').hide().fadeIn(500);
      }
    }

    function switchTypeButton() {
      resetSearchState();
      labelSelector.val('');

      if ($(this).hasClass('btn-job')) {
        activateButton(jobButton)
        deactivateButton(locationButton)
        deactivateButton(urlButton)
        deactivateButton(keywordButton)
        $('.job-selected-text').hide().fadeIn(500);
        $('.location-selected-text').hide();
        $('.url-selected-text').hide();
        $('.keyword-selected-text').hide();
      } else if ($(this).hasClass('btn-location')) {
        deactivateButton(jobButton)
        activateButton(locationButton)
        deactivateButton(urlButton)
        deactivateButton(keywordButton)
        $('.job-selected-text').hide();
        $('.location-selected-text').hide().fadeIn(500);
        $('.url-selected-text').hide();
        $('.keyword-selected-text').hide();
      } else if ($(this).hasClass('btn-url')) {
        deactivateButton(jobButton)
        deactivateButton(locationButton)
        activateButton(urlButton)
        deactivateButton(keywordButton)
        $('.job-selected-text').hide();
        $('.location-selected-text').hide();
        $('.url-selected-text').hide().fadeIn(500);
        $('.keyword-selected-text').hide();
      } else if ($(this).hasClass('btn-keyword')) {
        deactivateButton(jobButton)
        deactivateButton(locationButton)
        deactivateButton(urlButton)
        activateButton(keywordButton)
        $('.job-selected-text').hide();
        $('.location-selected-text').hide();
        $('.url-selected-text').hide();
        $('.keyword-selected-text').hide().fadeIn(500);
      }
    }

    function switchLabelSelector() {
      resetSearchState();
    }

    friendsButton.on('click', switchCategoryButton);
    followersButton.on('click', switchCategoryButton);
    jobButton.on('click', switchTypeButton);
    locationButton.on('click', switchTypeButton);
    urlButton.on('click', switchTypeButton);
    keywordButton.on('click', switchTypeButton);
    labelSelector.on('change', switchLabelSelector);

    function currentCategory() {
      return $('#search-category-buttons').find('.btn-primary').data('value');
    }

    function currentCategoryLabel() {
      return $('#search-category-buttons').find('.btn-primary').text();
    }

    function currentType() {
      return $('#search-type-buttons').find('.btn-primary').data('value');
    }

    function currentTypeLabel() {
      return $('#search-type-buttons').find('.btn-primary').text();
    }

    function currentLabel() {
      return labelSelector.val();
    }

    $('#show-details-check').on('change', function () {
      if ($(this).prop('checked')) {
        $('#search-response').find('.search-response-user-details').show();
      } else {
        $('#search-response').find('.search-response-user-details').hide();
      }
    });

    function appendSearchResponse(users) {
      if (!users || users.length === 0) {
        if (lastUid) {
          // Do nothing
        } else {
          resetSearchState();
          $('#search-response').empty().text('No results found').hide().fadeIn(500);
        }
      } else {
        var container = $('<div/>', {style: 'display: none;'});
        var template = $('#search-response-user-template').html();

        users.forEach(function (user) {
          if (user.description) {
            user.description = user.description.replace('\n', '<br>').replace(/https?:\/\//g, '');
            user.description = linkifyHtml(user.description, {defaultProtocol: 'https'});
          }
          user.index_number = currentIndexNumber++;
          var rendered = $(Mustache.render(template, user));
          rendered.find('img').each(function () {
            var img = $(this);
            img.attr('src', img.attr('data-src'));
          });
          container.append(rendered);
        })
        if (!$('#show-details-check').prop('checked')) {
          container.find('.search-response-user-details').hide();
        }
        $('#search-response').append(container)
        container.fadeIn(500);
        $('#search-response').append($('<div/>', {text: 'Loading'}).lazyload().one('appear', function () {
          var elem = $(this);
          search(function () {
            elem.remove();
          });
        }));

        lastUid = users[users.length - 1].uid;
      }
    }

    function search(callback) {
      var category = currentCategory();
      var type = currentType();
      var label = currentLabel();
      var limit = 10;

      if (category !== 'friends' && category !== 'followers') {
        console.warn('Invalid category');
        resetSearchState();
        $('#search-response').empty().text('Please specify correct [category]').hide().fadeIn(500);
        return
      }

      if (type !== 'job' && type !== 'location' && type !== 'url' && type !== 'keyword') {
        console.warn('Invalid type');
        resetSearchState();
        $('#search-response').empty().text('Please specify correct [type]').hide().fadeIn(500);
        return
      }

      if (!label || label.length === 0) {
        console.warn('Invalid label');
        resetSearchState();
        $('#search-response').empty().text('Please specify correct [label]').hide().fadeIn(500);
        return
      }

      $('.search-response-title').show()
        .find('.category').text(currentCategoryLabel()).end()
        .find('.type').text(currentTypeLabel()).end()
        .find('.label').text(label);

      var url = '<%= raw api_searches_path %>';
      var params = {category: category, type: type, label: label, limit: limit, last_uid: lastUid}
      console.log('request', params);

      $.get(url, params).done(function (res) {
        console.log('response', res);
        appendSearchResponse(res.users);
        if (callback) {
          callback();
        }
      });
    }

    function updateSearchLabelOptions() {
      var category = currentCategory();
      var type = currentType();

      if (category === 'friends') {
        if (type === 'job') {
          setJobOptions();
        } else if (type === 'location') {
          setLocationOptions();
        } else if (type === 'url') {
          setUrlOptions();
        } else if (type === 'keyword') {
          setKeywordOptions();
        }
      } else if (category === 'followers') {
        if (type === 'job') {
          setJobOptions();
        } else if (type === 'location') {
          setLocationOptions();
        } else if (type === 'url') {
          setUrlOptions();
        } else if (type === 'keyword') {
          setKeywordOptions();
        }
      }
    }

    $('#search-category-buttons').on('click', function () {
      updateSearchLabelOptions();
    });

    $('#search-type-buttons').on('click', function () {
      updateSearchLabelOptions();
    });

    $('#job-submit').on('click', function () {
      search();
      return false;
    });

    function setOptions(options) {
      $('#search-label-options').empty();
      options.forEach(function (option) {
        var tag = $('<option/>', {value: option.value, text: option.label});
        $('#search-label-options').append(tag);
      });
      $('#search-label').addClass('is-valid');
      setTimeout(function () {
        $('#search-label').removeClass('is-valid');
      }, 1000)
    }

    function setJobOptions() {
      var url = '<%= raw api_job_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setLocationOptions() {
      var url = '<%= raw api_location_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setUrlOptions() {
      var url = '<%= raw api_url_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    function setKeywordOptions() {
      var url = '<%= raw api_keyword_options_path %>';
      var category = currentCategory();

      $.get(url, {category: category}).done(function (res) {
        setOptions(res.options);
      });
    }

    setJobOptions();

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
