<%= render partial: 'shared/navbar' %>

<%= render partial: 'shared/support_modal' %>

<div class="container">
  <div class="mb-5">
    <%= render partial: 'shared/profile_section', locals: { user: @user } %>
  </div>

  <div class="mb-5">
    <%= render partial: 'form' %>
  </div>
</div>

<%= render partial: 'templates/search_response_user_template' %>

<%= render partial: 'shared/footer' %>
