<div id="login-container" class="w-100 h-100 d-flex justify-content-center align-items-center">
  <div class="text-center border rounded shadow bg-white p-5" style="min-width: 400px;">
    <div class="mb-5">
      <img src="<%= image_path('/favicon.png') %>" width="25" height="25">
      <span class="app-name"><%= t('app_name') %></span>
    </div>

    <div class="mb-5"><%= @message %></div>

    <div class="mb-3">
      <a href="<%= raw dashboard_path(via: 'thanks') %>" class="btn btn-primary" style="min-width: 200px;"><%= t('.button') %></a>
    </div>

    <div>
      <a href="<%= raw root_path(via: 'thanks') %>" style="min-width: 200px;"><%= t('.top') %></a>
    </div>
  </div>
</div>
